@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

.btn--circle i {
    font-size: 150%;
    line-height: 60px;
    -webkit-transition: all .3s;
    transition: all .3s;
    letter-spacing: 0;
    display: block;
  }
.btn--circle:hover i {
    line-height: 55px;
  }
